<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrape Sonuçları</title>
</head>
<body>
    <h1>Scrape Sonuçları</h1>
    <ul>
        {% for message in page_obj %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; İlk</a>
                <a href="?page={{ page_obj.previous_page_number }}">Önceki</a>
            {% endif %}

            <span class="current">
                Sayfa {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Sonraki</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Son &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>
